*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f6f9;
}

header{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px;
}

header h1{
    margin-bottom:10px;
}

.contenedor{
    width:90%;
    max-width:800px;
    margin:40px auto;
}

.card{
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.card h2,
.card h3{
    margin-bottom:15px;
    color:#003366;
}

.card p{
    margin-bottom:15px;
    line-height:1.6;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:6px;
}

button{
    width:100%;
    padding:12px;
    background:#003366;
    color:white;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0055aa;
}

.btn{
    display:inline-block;
    margin-top:20px;
    background:#003366;
    color:white;
    padding:12px 20px;
    text-decoration:none;
    border-radius:6px;
}

.btn:hover{
    background:#0055aa;
}

ul{
    margin-left:20px;
    margin-top:15px;
}

li{
    margin-bottom:10px;
}